<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div id="time">
  <%= Time.now %>
</div>

<div data-controller="example">
  <button data-action="click->example#click">Click me</button>
</div>
